* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
}

body {
    background-color: white;
    margin: 0px;
    overflow-x: hidden;
}
#main {
    margin-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100vw;
}
#personal-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
#main-link {
    color: black;
}
#face {
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content:center;
    width: 100%;
    background-color: orange;
}
h4 {
    padding-top: 15px;
    margin: 2px;
}
p {
    font-size: 15px;
}
#nav-bar {
    position: sticky;
    background-color: #f4f4f4;
    text-align: center;
    width: 100%;
    top: 0;
    padding-top : 20px;
    padding-bottom: 20px;
    color: gray;
}
a {
    text-decoration: none;
}

.nav-link {
    color: gray;
    padding: 10px;
}

.footer-links {
    color: lightgray;
}

.main-text {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: auto;
    background: white;
}
.sections {
    text-align: center;
    background-color: white;
    width: 25%;
    padding-bottom: 100px;
}
#footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
    width: 100%;
    height: 250px;
    color: lightgray;
}
.footer-header-p {
    padding-left: 10px;
    color: gray;
    text-align:left;
}
.footer-info-p {
    display: flex;
    font-size: 12px;
    padding-left: 11px;
    padding-bottom: 5px;
    gap: 5px;
}
.social-media-icons {
    color: white;
}

#photo {
    display:flex;
    align-items: center;
}

.projects-main {
    display:flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
}
li {
    text-align: left;
}
.project-sections {
    padding-top: 10px;
    padding-bottom: 8px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    width: 100vw;
    background-color: orange;
}

.display-img {
    border: 2px solid black;
}
#finished-projects {
    margin-bottom: 100px;
}
#unfinished-projects {
    margin-bottom: 200px;
}

#list {
    justify-content:left
}
#finished-projects-header {
    margin-top: 20px;
}

.language-percent {
    font-size: 20px;
}

@media only screen and (max-width: 950px) {
    .display-img {
        width: 100px;
        height: 100px;
    }
    .language-imgs {
        width: 100px;
        height: 100px;
    }
    #footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}  /* Query turns images into smaller pics while also transforming the footer so it's usable on smaller screens.*/